---
export interface Props {
  title: string;
}

import { SEOMetadata } from 'astro-seo-metadata';
import imgThumbnail from '/thumbnail.png';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='theme-color' content='#e14a7c' />

    <SEOMetadata
      siteName='Tiny Visions'
      description='Delve into an immersive world as you gain insights into your past, present, and future. Tiny Visions is a unique tarot card experience, where you may explore tarots through a quiz, traditional reading, or catalogue.'
      favicon='/favicon.png'
      type='website'
      image={imgThumbnail}
      title={title}
      astroSitemap={true}
      astroGenerator={true}
      canonicalUrl={Astro.url.toString()}
    />
  </head>
  <body class='bg-palette-c-dark text-palette-c-light overflow-x-hidden'>
    <slot />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        overflow-x: hidden;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
